.contenedor {
    width: 50%;
    display: flex;
    margin-left: 150px;
    margin-bottom: 10px;
}

.contenedor  input {
    width: 12%;
    height: 30px;
    padding-left: 25px;

    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid rgb(234, 255, 0);
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 40px #eaff003e;


}

.contenedor  input:focus-visible{
    outline: none ;
}

.buttonAdd {
    width: 100px;
    border: none;
    background-color: rgb(234, 255, 0);
    box-shadow: 0 0 40px #eaff003e;

    padding: 0 20px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;

    letter-spacing: 1px;
}

.buttonAdd:hover {
    background-color: rgb(239, 252, 99);
}

.buttonRandom {
    width: 100px;
    border: none;
    background-color: rgb(89, 255, 0);
    box-shadow: 0 0 40px rgba(89, 255, 0, 0.42);

    padding: 0 20px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;

    letter-spacing: 1px;
}

.buttonRandom:hover {
    background-color: rgb(149, 255, 91);

}